 <div class="form-group" style="width: 50%; text-align: left;" >
    <label>Harga Lembur Siang </label>
    <%= f.number_field :day_payment, :placeholder=> "Harga Lembur Siang ",  class: "form-control", required: true %>
    
    
  </div>

   <div class="form-group" style="width: 50%; text-align: left;" >
    <label>Harga Lembur Malam </label>
    <%= f.number_field :night_payment, :placeholder=> "Harga Lembur Malam",  class: "form-control", required: true %>
    <%= f.hidden_field :date, :placeholder=> "Gaji",  value: Date.today ,class: "form-control"  %>
    <%= f.hidden_field :activate, :placeholder=> "Gaji",  value: true ,class: "form-control"  %>
    
  </div>

 