 <div class="form-group" style="width: 50%; text-align: left;" >
 	<label>Gaji </label>
 	<%= f.number_field :payment, :placeholder=> "Gaji",  class: "form-control"  %>
 	<%= f.hidden_field :date, :placeholder=> "Gaji",  value: Date.today ,class: "form-control"  %>
 	<%= f.hidden_field :activate, :placeholder=> "Gaji",  value: true ,class: "form-control"  %>

 </div>



 <% content_for :bottom_js do %>
 <script type="text/javascript">
 	$("#user_salary_histories_attributes_0_payment").keyup(function(){
 		$lembursiang = Math.round(parseInt($(this).val()) /140) ;
 		$lemburmalam = $lembursiang * 2
 		$("#user_overtime_payment_histories_attributes_0_day_payment").val($lembursiang);
 		$("#user_overtime_payment_histories_attributes_0_night_payment").val($lemburmalam);
 	});

 	$("#user_overtime_payment_histories_attributes_0_day_payment").keyup(function(){
 		$hasil = parseInt($(this).val()) * 2;
 		$("#user_overtime_payment_histories_attributes_0_night_payment").val($hasil);
 	});
 </script>

 <% end%>