
<h1>New user</h1>
<%= form_for(@manage_user ? @manage_user : :manage_user, :url => manage_users_path) do |f| %>

<%= render partial: 'form', locals: {f: f} %>
<% end %>
<%= link_to 'Back', manage_users_path %>

