<script type="text/javascript">
	 $(function() {
    $( ".from-date" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#to" ).datepicker( "option", "minDate", selectedDate );
        }
    });
    $( ".to-date" ).datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3,
        onClose: function( selectedDate ) {
            $( "#from" ).datepicker( "option", "maxDate", selectedDate );
        }
    });
});
</script>

<h1>Editing absent</h1>

<%= render 'form' %>

<%= link_to 'Show', @absent %> |
<%= link_to 'Back', absents_path %>
