<li class="treeview">
	<a href="#">
		<i class="fa fa-dollar"></i>
		<span>Lembur</span>
		<i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
		<li> 
			<%= link_to overtime_payment_histories_path do %>
			<i class="fa fa-angle-double-right"></i> Riwayat Harga Lembur
			<% end %>
		</li>
		<li> 
			<%= link_to overtimes_path do %>
			<i class="fa fa-angle-double-right"></i> Lembur
			<% end %>
		</li>
	</ul>
</li>