<li class="treeview">
	<a href="#">
		<i class="fa fa-gears "></i>
		<span>Pengaturan</span>
		<i class="fa fa-angle-left pull-right"></i>
	</a>
	<ul class="treeview-menu">
		<li> 
			<%= link_to overtime_setting_path do %>
			<i class="fa fa-angle-double-right"></i> Pengaturan Lembur
			<% end %>
		</li>
	</ul>
</li>