<li class="treeview">
  <a href="#">
	<i class="fa fa-gears "></i>
	<span>Pengaturan</span>
	<i class="fa fa-angle-left pull-right"></i>
  </a>
  <ul class="treeview-menu">
	<li>
	  <%= link_to '<i class="fa fa-angle-double-right"></i> Pengaturan Lembur'.html_safe, overtime_setting_path %>
	</li>
	<li>
	  <%= link_to '<i class="fa fa-angle-double-right"></i> Pengaturan JamSostek'.html_safe, jamsostek_setting_path %>
	</li>
  </ul>
</li>